body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.hero-container {
    background-color: #1F2937;
    color: #F9FAF8;
}

/************* Hero Header Section *************/

.hero-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8px 0px;
}

#header-logo {
    font-size: 24px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB; 
}

/************* Hero Content Section *************/

.hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
}