body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.hero-container {
    background-color: #1F2937;
    color: #F9FAF8;
    padding-bottom: 100px;
}

/************* Hero Header Section *************/

.hero-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8px 0px;
    padding-bottom: 90px;
}

#header-logo {
    font-size: 24px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB; 
}

/************* Hero Content Section *************/

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 32px;
}

.hero-text {
    max-width: 450px;
    margin-left: 200px;
}

.hero-text h2 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: -15px;
}

.hero-text p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-image {
    background-color: gray;
    height: 250px;
    width: 515px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 200px;
}

#hero-button {
    cursor: pointer;
    padding: 8px 24px;
    border-radius: 8px;
    background-color: #3882F6;
    border: 1px solid #3882F6;
    color: white;
    font-weight: 900;
}

/************* Info Header Section *************/
.info-container {
    padding-bottom: 100px;
}
.info-header {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding-top: 32px;
    padding-bottom: 56px;
}

/************* Info Content Section *************/

.info-content {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-image-container,
.text {
    max-width: 150px;
    text-align: center;
}

.info-image-container {
    width: 149px;
    height: 148px;
    border: 3px solid #3882F6;
    border-radius: 8px;
    margin-bottom: 8px;
}

/************* Quote Content Section *************/

.quote-container {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 64px 0px;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    max-width: 820px;
}

.quote-author {
    font-weight: 700;
    margin-left: 500px;
    margin-top: -50px;
    font-size: 25px;
}

/************* CTA Content Section *************/
.cta-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0px;
}

.cta-content {
    background-color: #3882F6;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1000px;
    padding: 32px 0px;
    color: #F9FAF8;
}

.cta-text p {
    margin-top: -20px;
}

.cta-button button{
    cursor: pointer;
    padding: 8px 24px;
    border-radius: 8px;
    background-color: #3882F6;
    border: 1px solid #F9FAF8;
    color: white;
    font-weight: 900;
}