body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.hero-container {
    background-color: #1F2937;
    color: #F9FAF8;
}

/************* Hero Header Section *************/

.hero-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8px 0px;
    padding-bottom: 90px;
}

#header-logo {
    font-size: 24px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB; 
}

/************* Hero Content Section *************/

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 32px;
}

.hero-text {
    max-width: 450px;
    margin-left: 200px;
}

.hero-text h2 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: -15px;
}

.hero-text p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-image {
    background-color: gray;
    height: 250px;
    width: 515px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 200px;
}

#hero-button {
    cursor: pointer;
    padding: 8px 24px;
    border-radius: 8px;
    background-color: #3882F6;
    border: 1px solid #3882F6;
    color: white;
    font-weight: 900;
}
